{% extends 'blog/base.html' %}


{% block title %}
    {{title}}
{% endblock %}


{% block content %}
    <!-- <h1>{{title}}</h1> -->
    <!-- {{ news }} -->
    <h2>Все статьи от автора {{ view.kwargs.username }}</h2>
    <h4>Количество: {{ page_obj.paginator.count }} </h4>
    {% for post in news %}
        <div class="alert alert-light">
            <h1>{{ post.title }}</h1>
            <p>{{ post.text|striptags|truncatechars:200 }}</p>
            <div class="row">
              <div class="">
                <img src="{{ post.author.profile.img.url }}" alt="{{ post.author }}" class="user_images">
              </div>
              <div class="mt-2">
                <span class="text-muted">Публикация: {{ post.date|date:"d E Yг. в H:i" }}</span>
                <p><b>Автор:</b> <a href="{% url 'user-news' post.author %}">{{ post.author }}</a></p>

              </div>
            </div>
            <a href="{% url 'news-detail' post.id %}" class="btn btn-outline-warning mt-3">Читать далее</a>
        </div>

    {% endfor %}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="{% url 'home' %}" class="btn btn-outline-danger">Начало</a>
            <a href="?page={{page_obj.previous_page_number}}" class="btn btn-outline-danger">Предыдущая</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
                <button class="btn btn-danger">{{ num }}</button>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{num}}" class="btn btn-outline-danger">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}" class="btn btn-outline-danger">Следующая</a>
            <a href="?page={{page_obj.paginator.num_pages}}" class="btn btn-outline-danger">Последняя</a>
        {% endif %}
    {% endif %}

{% endblock %}


{% block aside_block %}
<h4 class="mt-2">Интересные статьи</h4>

<img src="https://itproger.com/img/tasks/1587638143.jpg" class='img-thumbnail'>
<p>Небольшая логическая задача связанная с включением и выключением вентилятора. Попробуйте разгадать самостоятельно, после чего проверьте свой ответ с верным решением.</p>

<a href="https://itproger.com/tasks/zadacha-pro-ventilyator" target="_blank">
                <button class="btn btn-warning">Посмотреть</button>

</a>


<img src="https://itproger.com/img/tasks/1607881168.jpg" class='img-thumbnail  mt-4'>
<p>В работе любого разработчика важную роль играет нестандартное мышление. Не хотите проверить себя? Инженеры уже приготовили для вас необычную и очень любопытную задачу!</p>

<a href="https://itproger.com/tasks/vrashtayushtiysya-disk-zadachka-na-logiku-dlya-programmistov" target="_blank">
                <button class="btn btn-warning">Посмотреть</button>

</a>

{% endblock %}
