{% extends 'blog/base.html' %}


{% block title %}
    Восстановление пароля
{% endblock %}


{% block content %}
    <h1>Восстановление пароля</h1>
    <form method="POST" class="form-register auth">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-outline-danger" type="submit">Запросить новый пароль</button>
    </form>

{% endblock %}



{% block aside_block %}
<h4 class="mt-2">Интересные статьи</h4>
<img src="https://itproger.com/img/tasks/1607881168.jpg" class='img-thumbnail'>
<p>В работе любого разработчика важную роль играет нестандартное мышление. Не хотите проверить себя? Инженеры уже приготовили для вас необычную и очень любопытную задачу!</p>

<a href="https://itproger.com/tasks/vrashtayushtiysya-disk-zadachka-na-logiku-dlya-programmistov" target="_blank">
                <button class="btn btn-warning">Посмотреть</button>

</a>


<img src="https://itproger.com/img/tasks/1587638143.jpg" class='img-thumbnail mt-4'>
<p>Небольшая логическая задача связанная с включением и выключением вентилятора. Попробуйте разгадать самостоятельно, после чего проверьте свой ответ с верным решением.</p>

<a href="https://itproger.com/tasks/zadacha-pro-ventilyator" target="_blank">
                <button class="btn btn-warning">Посмотреть</button>

</a>
{% endblock %}
